.van-request-loading{
  padding: 0;
}

.c-red{
  color: red;
}
.c-gray {
  color: gray;
}
.c-blue {
  color: #4187F2;
}
.c-green {
  color: green;
}
.c-yellow {
  color: yellow;
}
.c-orange {
  color: orange;
}
.c-black {
  color: black;
}

// showDialog 确认按钮颜色
.van-dialog__confirm{
  background: #4187F2;
  color: #ffffff;
}
